# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**
1. python
2. SQL
3. R

In [1]:
**Some of the commonly used libraries used by Data Scientists include:**
 
 1. TensorFlow. 
 2. SciPy. 
 3. NumPy. 
 4. Pandas. 
 5. Pytorch

SyntaxError: invalid syntax (4284967344.py, line 1)

In [ ]:
**Data Science Tools**
|Data Science Tools|
|-|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [ ]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

**Objectives:**
List popular languages for Data Science.
- Python 
- SQL
- R

## Author

name : Yu-An, Chen